<form>
  <label for="eventName">Event Description:</label><br>
  <input type="text" id="event-name" name="event-name"><br>
  <label for="eventTime">Event Time:</label><br>
  <input type="time" id="event-time" name="event-time"></br>
  <label for="eventLocation">Event Location:</label><br>
  <input type="location" id="event-location" name="event-location">
</form>