<div class="create-event-container">
  <div class="create-event-window">
    <h1 class="create-event-title">Create a new event!</h1>
    <div class="create-event-divider"></div>
    <form class="create-event-form">
      <div class="create-event-input-line">
        <h2 class="create-event-titles">Event name:</h2>
        <input id="event-name" class="create-event-inputs" type="text" placeholder="Enter name" required>
      </div>
      <div class="create-event-input-line">
        <h2 class="create-event-titles">Location:</h2>
        <input id="event-location" class="create-event-inputs" type="text" placeholder="Enter address or location"
          required>
      </div>
      <div class="create-event-input-line">
        <h2 class="create-event-titles">Start time:</h2>
        <input id="start-time" class="create-event-inputs" type="datetime-local" required>
      </div>
      <div class="create-event-input-line">
        <h2 class="create-event-titles">Sport:</h2>
        <select id="create-event-selection-container" class="create-event-selection-container" required>
          <option value="" disabled selected>Pick a sport!</option>
          <option value="basketball">Basketball</option>
          <option value="soccer">Soccer</option>
          <option value="football">Football</option>
          <option value="pickleball">Pickleball</option>
          <option value="tennis">Tennis</option>
          <option value="raquetball">Raquetball</option>
          <option value="baseball">Baseball</option>
          <option value="volleyball">Volleyball</option>
          <option value="lacrosse">Lacrosse</option>
          <option value="hockey">Hockey</option>
        </select>
      </div>
      <div class="create-event-input-line">
        <h2 class="create-event-titles">Number of players:</h2>
        <input id="number-of-players" class="create-event-inputs" type="number" placeholder="Select a number" required>
      </div>
      <button id="create-event-btn" class="create-event-btn">Create event</button>
    </form>
  </div>
</div>