<p>User logged in: {{logged_in}}</p>
<button id="logout-btn">Logout</button>

<section id="page-container" class="dashboard-container">
    <div class="dashboard-events-container">
        <div class="saved-events-container">
            <div class="saved-events-header">
                <h2 class="events-title">Your Events</h2>
            </div>
            <div class="division-bar"></div>
            <div class="saved-events-list">

            </div>
        </div>
        <div class="local-events-container">
            <div class="local-events-header">
                <h2 class="events-title">Local Events</h2>
            </div>
            <div class="division-bar"></div>
            <div class="local-events-list">
                
            </div>
        </div>
    </div>
    </div>
    <div id="map-container" class="map-container">
        <div id="map"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</section>