<section class="dashboard-container">
    <div class="local-events-container">
        <div class="local-events-header">
            <h2 class="events-title">All Events</h2>
        </div>
        <div class="division-bar"></div>
        {{!-- <div class="local-events-list">
            <div class="event-container">
                <div class="event-icon-container">
                    <img src="icons/basketball-icon.svg" class="event-icon">
                </div>
                <div class="event-info-container">
                    <div class="event-info-title-container">
                        <h3 class="event-info-title">Basketball</h3>
                        <h4>3v3</h4>
                    </div>
                    <div class="event-info-separator-container">
                        <div class="event-info-separator"></div>
                    </div>
                    <div class="event-location-info-container">
                        <div class="event-date-time-container">
                            <h3 class="event-time-title">Start Time</h3>
                            <h4 class="event-time">5:00pm</h4>
                        </div>
                        <div class="event-open-spots-container">
                            <div class="event-open-slots-board">
                                <h3 class="event-slots">6</h3>
                                <h4 class="event-slots-title">Open Slots</h4>
                            </div>
                        </div>
                        <div class="event-more-info-container">
                            <button id="more-info-btn" class="more-info-btn">More Info</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-container">
                <div class="event-icon-container">
                    <img src="icons/volleyball-icon.svg" class="event-icon">
                </div>
                <div class="event-info-container">
                    <div class="event-info-title-container">
                        <h3 class="event-info-title">Volleyball</h3>
                        <h4>7v7</h4>
                    </div>
                    <div class="event-info-separator-container">
                        <div class="event-info-separator"></div>
                    </div>
                    <div class="event-location-info-container">
                        <div class="event-date-time-container">
                            <h3 class="event-time-title">Start Time</h3>
                            <h4 class="event-time">4:30pm</h4>
                        </div>
                        <div class="event-open-spots-container">
                            <div class="event-open-slots-board">
                                <h3 class="event-slots">9</h3>
                                <h4 class="event-slots-title">Open Slots</h4>
                            </div>
                        </div>
                        <div class="event-more-info-container">
                            <button id="more-info-btn" class="more-info-btn">More Info</button>
                        </div>
                    </div>
                </div>
            </div> --}}
            <div class="event-container">
                <div class="event-icon-container">
                    <img src="icons/pickleball-icon.svg" class="event-icon">
                </div>
                <div class="event-info-container">
                    <div class="event-info-title-container">
                        <h3 class="event-info-title">Pickleball</h3>
                        <h4>Open Play</h4>
                    </div>
                    <div class="event-info-separator-container">
                        <div class="event-info-separator"></div>
                    </div>
                    <div class="event-location-info-container">
                        <div class="event-date-time-container">
                            <h3 class="event-time-title">Start Time</h3>
                            <h4 class="event-time">7:30am</h4>
                        </div>
                        <div class="event-open-spots-container">
                            <div class="event-open-slots-board">
                                <h3 class="event-slots">Open Play</h3>
                                <!-- <h4 class="event-slots-title">Open Slots</h4> -->
                            </div>
                        </div>
                        <div class="event-more-info-container">
                            <button id="more-info-btn" class="more-info-btn">More Info</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-container">
                <div class="event-icon-container">
                    <img src="icons/soccerball-icon.svg" class="event-icon">
                </div>
                <div class="event-info-container">
                    <div class="event-info-title-container">
                        <h3 class="event-info-title">Soccer</h3>
                        <h4>9v9</h4>
                    </div>
                    <div class="event-info-separator-container">
                        <div class="event-info-separator"></div>
                    </div>
                    <div class="event-location-info-container">
                        <div class="event-date-time-container">
                            <h3 class="event-time-title">Start Time</h3>
                            <h4 class="event-time">6:00pm</h4>
                        </div>
                        <div class="event-open-spots-container">
                            <div class="event-open-slots-board">
                                <h3 class="event-slots">10</h3>
                                <h4 class="event-slots-title">Open Slots</h4>
                            </div>
                        </div>
                        <div class="event-more-info-container">
                            <button id="more-info-btn" class="more-info-btn">More Info</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="map-container">
        <div id="map"></div>
    </div>
</section>