    <button id="login-btn">Login</button>
    <div id="login-modal" class="modal">
      <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div class="form-container">
          <!-- Login Form -->
          <form class="login-form">
            <h2>Login</h2>
            <label for="email-login">Email:</label>
            <input
              type="email"
              id="email-login"
              placeholder="Enter your email"
              required
            />

            <label for="password-login">Password:</label>
            <input
              type="password"
              id="password-login"
              placeholder="Enter your password"
              required
            />

            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="../public/js/login.js"></script>