<div class="saved-events-container">
    <div class="saved-events-header">
        <h1 class="profile-title">User Profile</h1>

    </div>
    <div class="division-bar"></div>
    <div class="saved-events-list">
        <p id="profile-username">UserName: {{username}}</p>
        </br>
        </br>
        <p id="profile-email">Email: {{email}}</p>
        </br>
        </br>
        <p id="profile-firstname">First Name: {{firstName}}</p>
        </br>
        </br>
        <div class="profile-logout"></div>
        <button id="logout-btn" class="logout-btn">Logout</button>
    </div>
</div>