:root {
  --primary: #4285f4;
  --lightBlue: #649af1;
  --darkBlue: #273043;
  --passGreen: #57f442;
  --slowYellow: #f1f442;
  --stopRed: #f44242;
}

.left-corner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 5rem;
}

.main-container {
  width: 100svw;
  height: 100svh;
  display: flex;
}

.body-window {
  height: 100%;
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins";
}

.navbar-container {
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  overflow: auto;
}

.navbar {
  margin-left: 2rem;
  height: 70%;
  width: 4rem;
  background-color: var(--primary);
  border-radius: 1rem;
  transition: .4s ease;
  overflow: hidden;
}

.navbar-selections-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}

.nav-selection {
  height: 3rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: .25rem;
  cursor: pointer;
  background-color: var(--primary);
  border: none;
}

.nav-icon {
  height: 100%;
}

#nav-explore-icon {
  height: 80%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

#nav-profile-icon {
  height: 80%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

#nav-event-icon {
  height: 80%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.nav-title {
  font-family: "Poppins";
  color: #ffffff;
  font-size: 130%;
  font-weight: 500;
  opacity: 0;
  transition: 0.4s ease;
}

.nav-title:hover {
  color: #cccccc;
}

.navbar:hover {
  width: 12rem;
}

.dashboard-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins";
}

.dashboard-events-container {
  height: 90%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.saved-events-container {
  height: 35%;
  width: 95%;
  border-radius: 2rem;
  box-shadow: -4px 4px 7px #cfcfcfc0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.saved-events-header {
  height: 15%;
  width: 100%;
  font-size: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: left;
}

.events-title,
.profile-title {
  margin-left: 3rem;
  font-family: "Poppins";
  color: var(--darkBlue);
}

.division-bar {
  height: 2px;
  width: 90%;
  background-color: #f3f3f3;
}

.saved-events-list {
  height: 75%;
  width: 90%;
}

.local-events-container {
  height: 63%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.local-events-header {
  height: 10%;
  width: 100%;
  font-size: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: left;
}

.local-events-list {
  height: 85%;
  width: 90%;
  overflow-y: scroll;
}

.local-events-list::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.event-container {
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.event-icon-container {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-icon {
  height: 70%;
}

.event-info-container {
  height: 100%;
  width: 80%;
  background-color: #fafafa;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.event-info-title-container {
  height: 100%;
  width: 30%;
  background: linear-gradient(-90deg, #fafafa, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-info-title {
  font-size: 150%;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.event-info-separator-container {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-info-separator {
  height: 80%;
  width: 2px;
  background-color: #dfdfdf;
}

.event-location-info-container {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.event-date-time-container {
  height: 70%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.event-time {
  font-size: 120%;
  font-weight: 600;
  color: var(--primary);
}

.event-open-spots-container {
  height: 70%;
  width: 30%;
  background-color: var(--passGreen);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-open-slots-board {
  height: 90%;
  width: 95%;
  background-color: #fafafa;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.event-slots {
  font-size: 120%;
  font-weight: 600;
  text-align: center;
}

.event-slots-title {
  text-align: center;
}

.event-more-info-container {
  height: 70%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-info-btn {
  background-color: var(--primary);
  border: none;
  border-radius: 2rem;
  width: 100%;
  height: 2rem;
  color: white;
  font-family: "Poppins";
  font-size: 90%;
  cursor: pointer;
}

.more-info-btn:hover {
  background-color: var(--lightBlue);
}

.map-container {
  height: 90%;
  width: 45%;
  background-color: #dedede;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
}

.selection-info-container {
  position: absolute;
  width: 95%;
  height: 17rem;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 1.5rem;
  z-index: 1000;
  display: flex;
}

.selection-window {
  height: 100%;
  width: 100%;
  position: relative;
}

.selection-info-close-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 2.5rem;
  cursor: pointer;
}

/* Login Popup Screen */

.login-popup-container {
  position: absolute;
  z-index: 10000;
  height: 100svh;
  width: 100svw;
  background-color: #454a53d2;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-popup-window {
  background-color: white;
  height: 30rem;
  width: 50rem;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
}

.popup-login-side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.login-close-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.login-window {
  height: 90%;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login-form-title {
  font-family: "Poppins";
  font-size: 200%;
  font-weight: 600;
  color: #bdbbbb;
}

.login-brand-name {
  font-size: 130%;
  color: var(--darkBlue);
}

.login-form {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-inputs {
  font-family: "Poppins";
  height: 2rem;
  width: 80%;
  border: none;
  border-bottom: 2px solid #e7e7e7;
}

.login-inputs:focus {
  outline: none;
  color: var(--darkBlue);
}

.login-button {
  background-color: var(--primary);
  color: white;
  height: 2.5rem;
  width: 7rem;
  font-size: 130%;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 5rem;
}

.login-button:hover {
  background-color: var(--lightBlue);
}

.popup-signup-side {
  width: 50%;
  height: 100%;
  background: linear-gradient(-45deg, #243b6d, var(--primary));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-window {
  height: 90%;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form-title {
  font-family: "Poppins";
  font-size: 200%;
  font-weight: 600;
  color: #ffffff;
}

.signup-button {
  background-color: var(--primary);
  color: white;
  height: 2.5rem;
  width: 8rem;
  font-size: 130%;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 2rem;
  box-shadow: -2px 2px 10px #2e4983;
}

.signup-button:hover {
  background-color: var(--lightBlue);
}

/* Signup Walkthrough Screens */

.signup-main-container {
  height: 100svh;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins";
  background-color: #454a53d2;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  position: absolute;
}

.signup-pages {
  width: 600%;
  display: flex;
  transition: transform 0.7s ease;
}

.signup-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.7s ease;
}

.signup-page-window {
  height: 50%;
  width: 20%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: -2px 2px 7px #b9b9b9;
}

.signup-player-icon {
  height: 10rem;
  margin-bottom: 3rem;
}

.signup-walkthrough-title {
  color: var(--darkBlue);
  font-size: 200%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.signup-walkthrough-btn {
  background-color: var(--primary);
  font-family: "Poppins";
  font-size: 120%;
  color: white;
  border: none;
  width: 7rem;
  height: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 2rem;
}

.signup-walkthrough-btn:hover {
  background-color: var(--lightBlue);
}

.signup-walkthrough-inputs {
  font-family: "Poppins";
  height: 2rem;
  width: 50%;
  border: none;
  border-bottom: 2px solid #e7e7e7;
}

.signup-walkthrough-inputs:focus {
  outline: none;
  color: var(--darkBlue);
}

.special-you-style {
  font-size: 120%;
  color: #fd8469;
}

.dont-worry {
  color: #bdbbbb;
  font-size: 80%;
  margin-top: 0.5rem;
}

.signup-selection-container {
  height: 2rem;
  font-family: "Poppins";
  width: 10rem;
  border: none;
  border-bottom: 2px solid #e7e7e7;
  color: var(--darkBlue);
  margin-top: 2rem;
}

.signup-creds-container {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.signup-btn-container {
  height: 10%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Create Events Page */
.create-event-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins";
  background: linear-gradient(-45deg, #243b6d, var(--primary));
}

.create-event-window {
  height: 70%;
  width: 60%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: -2px 2px 10px #2e4983;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.create-event-divider {
  background-color: #dfdfdf;
  height: 2px;
  width: 60%;
}

.create-event-title {
  font-size: 200%;
  font-weight: 600;
}

.create-event-form {
  height: 85%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.create-event-input-line {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-event-inputs {
  font-family: "Poppins";
  height: 2rem;
  width: 40%;
  border: none;
  border-bottom: 2px solid #e7e7e7;
  color: var(--darkBlue);
}

.create-event-inputs:focus {
  outline: none;
  color: var(--darkBlue);
}

.create-event-selection-container {
  height: 2rem;
  font-family: "Poppins";
  width: 40%;
  border: none;
  border-bottom: 2px solid #e7e7e7;
  color: var(--darkBlue);
}

.create-event-titles {
  font-size: 120%;
  color: var(--darkBlue);
}

.create-event-btn {
  border: none;
  background-color: var(--primary);
  margin-top: 2rem;
  height: 3rem;
  width: 9rem;
  border-radius: 2rem;
  color: white;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 110%;
}

.create-event-btn:hover {
  background-color: var(--lightBlue);
}

/* Profile Page Styling */

.profile-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins";
}

.profile-info-window {
  height: 60%;
  width: 30%;
  background-color: #243b6d;
}

.profile-title {
  font-size: 36px;
}

.profile-information {
  font-family: "Poppins";
  font-size: 36px;
}

.logout-btn {
  background-color: var(--stopRed);
  border: none;
  border-radius: 2rem;
  width: 100%;
  height: 2rem;
  color: white;
  font-family: "Poppins";
  font-size: 90%;
  cursor: pointer;

/* Map event details window */

.event-details-container {
  background-color: white;
  height: 14rem;
  width: 95%;
  border-radius: 1.25rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.event-title-container {
  height: 20%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-title {
  font-size: 130%;
  font-weight: 600;
}

.event-details-divider {
  background-color: #dfdfdf;
  height: 2px;
  width: 60%;
}

.event-close-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 2.5rem;
  cursor: pointer;
}